<!DOCTYPE html>
<HTML>

<HEAD>
<noscript><meta http-equiv="refresh" content="0; url=/index-static.html" /></noscript>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="icon" href="/favicon-32x32.png">
<link rel="stylesheet" href="/fz.css">
<link rel="stylesheet" href="/clock.css">
<link rel="stylesheet" href="/fzuistate.css">
<link rel="stylesheet" href="/fztask.css">
<link rel="stylesheet" href="/rightbar.css">
<style>
.mainpanel {
    float: left;
    width: 87.5%;
    padding: 10px;
}
.rightpanel {
    float: right;
    width: 12.5%;
    padding: 10px;
}
/* clear floats after columns */
.bodyrow:after {
    content: "";
    display: table;
    clear: both;
}
.container {
    position: fixed;
    top: 120px;
    right: 0px;
}
</style>
<TITLE>Formalizer Environment v2.0a - Top</TITLE>
</HEAD>
<BODY>
<script type="text/javascript" src="/fzuistate.js"></script>
<script type="text/javascript" src="/clock.js"></script>
<script type="text/javascript" src="/rightbar.js"></script>

<div class="bodyrow">
<div class="mainpanel">
<!-- <BODY onload="javascript:clockStart()"> -->
<H1>Formalizer Environment v2.0a - Top</H1>

<!-- <p id="clock"></p> -->
{{ button-sections }}
<button id="darkmode" class="button button2" onclick="switch_light_or_dark();">Light / Dark</button>

<hr>

<table><tbody><tr>
<td>Last remote backup: ??</td><td>Last external drive backup: ??</td><td>Last sync of accounts: ??</td>
</tr></tbody></table>

<hr>

<p>Ubuntu-Apache2 Default Page: <a href="ubuntu-apache2-index.html">ubuntu-apache2-index.html</a></p>

<hr>
</div> <!-- end of mainpanel -->

<div class="rightpanel">
<section class="container">
    <div class="timerBar">
        <div class="timerBarFill">
        </div>
        <div class="timerBarTextContainer">
            <div class="timerBarText"></div>
        </div>
    </div>
</section>
</div> <!-- end of rightpanel -->
</div> <!-- end of bodyrow -->

</BODY>

</HTML>
