<html>
<head>
<meta charset="utf-8" />
<link rel="stylesheet" href="/fz.css">
<link rel="icon" href="/favicon-logentry-32x32.png">
<link rel="stylesheet" href="/fzuistate.css">
<meta http-equiv="cache-control" content="no-cache" />
<title>fz: Node Log Chunks Data</title>
</head>
<body>
<script type="module" src="/fzuistate.js"></script>

<h1>fz: Node Log Chunks Data</h1>

<table><tbody>
<tr><td>Node:</td><td>{{ node-id }}</td></tr>
<tr><td>Number of Log Chunks:</td><td>{{ num-chunks }}</td></tr>
<tr><td>Total hours:</td><td>{{ total-hrs }}</td></tr>
</tbody></table>

<hr>

<table><tbody>
{{ chunks-data }}
</tbody></table>

<hr>

<p>[<a href="/index.html">fz: Top</a>]</p>

</body>
</html>
