<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8" />
<link rel="icon" href="/favicon-32x32.png">
<link rel="stylesheet" href="/fz.css">
<link rel="stylesheet" href="/fzuistate.css">
<title>Log: Insert Entry</title>
</head>

<body>
<h1>Log: Insert Entry</h1>

<P></P>
<P>Please type your note into the text area. The note can contain HTML code.</P>
<P></P>

<form action="/cgi-bin/logentry-form.py" method="post">
<br>
<textarea rows="15" cols="100" name="entrytext"></textarea><br>
<input type="hidden" name="insertentry" value="%s">
Insert entry for Log chunk %s: <input type="submit" name="makeentry" value="insert" />
</form>

<hr>

<p>[<a href="/index.html">fz: Top</a>]</p>

<script type="module" src="/fzuistate.js"></script>
</body>

</html>
