/* fz.css 0.1 Oct 2020 by Randal A. Koene */
html,body {
font-family:Verdana,sans-serif;
font-size:15px;line-height:1.5
}
html {
overflow-x:hidden
}
h1 {
font-size:36px
}
h2 {
font-size:30px
}
h3 {
font-size:24px
}
h4 {
font-size:20px
}
h5 {
font-size:18px
}
h6 {
font-size:16px
}
.fz-tiny{font-size:10px}
.fz-small{font-size:12px}
.fz-medium{font-size:15px}
.fz-large{font-size:18px}
.w3-serif {
font-family:serif
}
h1,h2,h3,h4,h5,h6 {
font-family:"Segoe UI",Arial,sans-serif;
font-weight:400;margin:10px 0
}
.w3-wide{
letter-spacing:4px
}
.fz-blue,.fz-hover-blue:hover{color:#fff;background-color:#2196F3}
.fz-light-grey,.fz-hover-light-grey:hover,.fz-light-gray,.fz-hover-light-gray:hover{color:#000;background-color:#f1f1f1}
hr {
border:0;
border-top:1px solid #eee;
margin:20px 0
}
.button {
border: none;
color: black;
padding: 8px 16px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 4px 2px;
transition-duration: 0.4s;
cursor: pointer;
}
:root {
--color-bg: black;
--color-text: black;
--color-link: black;
--color-visited: black;
--color-active: black;
--color-chktop: black;
--bgcolor-textarea: black;
--fgcolor-textarea: black;
--active-node-color: black;
--inactive-node-color: black;
--tr-bg-1: black;
--tr-bg-2: black;
--tr-fg: black;
--tr-hover: black;
--grid-bg: black;
--grid-options: black;
--grid-bgoverlay: black;
--w3-lightgrey: black;
--w3-aqua: black;
--header-card: black;
--scroll-thumb: black;
--scroll-track: black;
}
[data-theme="white"] {
--color-bg: white;
--color-text: black;
--color-link: #0000EE;
--color-visited: #551A8B;
--color-active: #FF0000;
--color-chktop: #B0C4F5;
--bgcolor-textarea: white;
--fgcolor-textarea: black;
--active-node-color: blue;
--inactive-node-color: black;
--tr-bg-1: #EEEEEE;
--tr-bg-2: #D0E4F5;
--tr-fg: black;
--tr-hover: rgba(255, 255, 0, 0.5);
--grid-bg: #2196F3;
--grid-options: #afafff;
--grid-bgoverlay: rgba(255, 255, 255, 0.8);
--w3-lightgrey: #f1f1f1;
--w3-aqua: #00ffff;
--header-card: rgba(255, 215, 0, 0.8);
--scroll-thumb: auto;
--scroll-track: auto;
}
[data-theme="lightblue"] {
--color-bg: LightSteelBlue;
--color-text: black;
--color-link: #0000EE;
--color-visited: #551A8B;
--color-active: #FF0000;
--color-chktop: #81a0eb;
--bgcolor-textarea: #e4e87d;
--fgcolor-textarea: black;
--active-node-color: blue;
--inactive-node-color: black;
--tr-bg-1: #EEEEEE;
--tr-bg-2: #D0E4F5;
--tr-fg: black;
--tr-hover: rgba(255, 255, 0, 0.5);
--grid-bg: #2196F3;
--grid-options: #afafff;
--grid-bgoverlay: rgba(255, 255, 255, 0.8);
--w3-lightgrey: #f1f1f1;
--w3-aqua: #00ffff;
--header-card: rgba(255, 215, 0, 0.8);
--scroll-thumb: auto;
--scroll-track: auto;
}
[data-theme="darkblue1"] {
--color-bg: rgb(79, 128, 192);
--color-text: black;
--color-link: #0000EE;
--color-visited: #551A8B;
--color-active: #FF0000;
--color-chktop: #81a0eb;
--bgcolor-textarea: #93d102;
--fgcolor-textarea: black;
--active-node-color: blue;
--inactive-node-color: black;
--tr-bg-1: #EEEEEE;
--tr-bg-2: #D0E4F5;
--tr-fg: black;
--tr-hover: rgba(255, 255, 0, 0.5);
--grid-bg: #2196F3;
--grid-options: #afafff;
--grid-bgoverlay: rgba(255, 255, 255, 0.8);
--w3-lightgrey: #f1f1f1;
--w3-aqua: #00ffff;
--header-card: rgba(255, 215, 0, 0.8);
--scroll-thumb: auto;
--scroll-track: auto;
}
[data-theme="darkblue2"] {
--color-bg: rgb(2, 42, 94);
--color-text: rgb(173, 173, 173);
--color-link: #38d13d;
--color-visited: #268c29;
--color-active: #FF0000;
--color-chktop: #2b55ba;
--bgcolor-textarea: #407301;
--fgcolor-textarea: white;
--active-node-color: #6d6dfc;
--inactive-node-color: #b3b3b3;
--tr-bg-1: #3f3f3f;
--tr-bg-2: #3f3f5f;
--tr-fg: #c0c77d;
--tr-hover: rgba(127, 127, 0, 0.5);
--grid-bg: #2196F3;
--grid-options: #afafff;
--grid-bgoverlay: rgba(255, 255, 255, 0.8);
--w3-lightgrey: #f1f1f1;
--w3-aqua: #00ffff;
--header-card: rgba(255, 215, 0, 0.8);
--scroll-thumb: auto;
--scroll-track: auto;
}
[data-theme="black"] {
--color-bg: rgb(0, 0, 0);
--color-text: rgb(173, 173, 173);
--color-link: #38d13d;
--color-visited: #38d13d;
--color-active: #FF0000;
--color-chktop: #474747;
--bgcolor-textarea: #2a4d00;
--fgcolor-textarea: white;
--active-node-color: #6d6dfc;
--inactive-node-color: #b3b3b3;
--tr-bg-1: #3f3f3f;
--tr-bg-2: #3f3f5f;
--tr-fg: #c0c77d;
--tr-hover: rgba(127, 127, 0, 0.5);
--grid-bg: #0a2d4a;
--grid-options: #4a4a6b;
--grid-bgoverlay: rgba(127, 127, 127, 0.8);
--w3-lightgrey: #717171;
--w3-aqua: #007f7f;
--header-card: rgba(100, 100, 0, 0.8);
--scroll-thumb: #3f3f3f;
--scroll-track: #5f5f5f;
}
body {
background-color: var(--color-bg);
color: var(--color-text);
scrollbar-color: var(--scroll-thumb) var(--scroll-track);
}
a:link {
color: var(--color-link);
}
a:visited {
color: var(--color-visited);
}
/*a:hover {
color: hotpink;
}*/
a:active {
color: var(--color-active);
}
input[type="text"], input[type="number"], input[type="date"], input[type="time"], input[type="datetime-local"], textarea {
background-color: var(--bgcolor-textarea);
color: var(--fgcolor-textarea);
}
table td {
background: var(--color-bg);
color: var(--color-text);
}
.button1 {
background-color: var(--color-bg);
color: var(--color-text);
border: 2px solid #4CAF50;
}
.button1:hover {
background-color: #4CAF50;
color: white;
}
.button2 {
background-color: var(--color-bg);
color: var(--color-text);
border: 2px solid #008CBA;
}
.button2:hover {
background-color: #008CBA;
color: white;
}
.button3 {
background-color: rgb(173, 124, 77);
color: black;
border: 2px solid #581f04;
}
.button3:hover {
background-color: #b14b11;
color: white;
}
.button_inactive {
    background-color: var(--color-bg);
    color: rgb(71, 71, 71);
    border: 2px solid #c9c9c9;
}
.button_inactive:hover {
    background-color: var(--color-bg);
    color: rgb(71, 71, 71);
}
.tiny_button {
border: 1px solid #008CBA;
color: var(--color-text);
background-color: var(--color-bg);
padding: 1px 2px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 10px;
margin: 2px 1px;
transition-duration: 0.4s;
cursor: pointer;
width: min-content;
}
.tiny_button:hover {
background-color: #008CBA;
color: white;
}
.tiny_green {
border: 1px solid #4CAF50;
}
.tiny_green:hover {
background-color: #4CAF50;
}
.tiny_red {
border: 1px solid #BA0000; 
}
.tiny_red:hover {
background-color: #BA0000;
color: white;
}
.tiny_wider {
width: max-content;
}
.chktop { 
background-color: var(--color-chktop);
}
table tr.chktop { background-color: var(--color-chktop); }
a.node:link {color: var(--tr-fg); text-decoration:none;}
a.node:visited {color: var(--tr-fg); text-decoration:none;}
a.node:hover {color: black; text-decoration:underline; background-color:#55db50;}
a.id:link {color: #000000; text-decoration:underline;}
a.id:visited {color: #000000; text-decoration:underline;}
a.id:hover {color: #000000; text-decoration:underline; background-color:#55db50;}
.id_cell {color: var(--tr-fg); text-decoration:underline; cursor: pointer;}
.id_cell:hover {color: black; text-decoration:underline; background-color:#55db50;}
a.nnl:hover {color: black; background:#55db50;}
.success { color: black; background-color: #84ec7a; }
.fail { color: black; background-color: rgb(206, 70, 70);}
.passed_td { color: red; }
.inactive_td { color: magenta; }
.high_req { color: red; }
.fit_req { color: blue; }
.col_right_separated td {
    padding: 0 20px 0 0;
}
.hrmin input[type="number"] {
   width:10px;
}
.searched {
    background-color: rgb(252, 161, 3);
    color: rgb(163, 49, 79);
}
.bold-blue {
    color: blue;
    font-weight: 900;
}
.bold-green {
    color: crimson;
    font-weight: 900;
}
.active-node {
    color: var(--active-node-color);
}
.inactive-node {
    color: var(--inactive-node-color);
}
.link-bg-color-yellow {
    background-color: rgb(255,255,0);
}
.link-bg-color-blue {
    background-color: rgb(0,0,200);
}
.td-bg-color-green {
    background-color: rgb(0,255,0);
}
.textbg-cyan {
    background-color: rgb(0,255,255);
}
.Node1 {
    z-index:5;
}
.Node1:hover {
    z-index:555555 !important;
    border: 2px solid black;
    border-radius: 20px;
}