/* fz.css 0.1 Oct 2020 by Randal A. Koene */
html,body {
font-family:Verdana,sans-serif;
font-size:15px;line-height:1.5
}
html {
overflow-x:hidden
}
h1 {
font-size:36px
}
h2 {
font-size:30px
}
h3 {
font-size:24px
}
h4 {
font-size:20px
}
h5 {
font-size:18px
}
h6 {
font-size:16px
}
.fz-tiny{font-size:10px}
.fz-small{font-size:12px}
.fz-medium{font-size:15px}
.fz-large{font-size:18px}
.w3-serif {
font-family:serif
}
h1,h2,h3,h4,h5,h6 {
font-family:"Segoe UI",Arial,sans-serif;
font-weight:400;margin:10px 0
}
.w3-wide{
letter-spacing:4px
}
.fz-blue,.fz-hover-blue:hover{color:#fff;background-color:#2196F3}
.fz-light-grey,.fz-hover-light-grey:hover,.fz-light-gray,.fz-hover-light-gray:hover{color:#000;background-color:#f1f1f1}
hr {
border:0;
border-top:1px solid #eee;
margin:20px 0
}
.button {
border: none;
color: white;
padding: 8px 16px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 4px 2px;
transition-duration: 0.4s;
cursor: pointer;
}
:root {
--color-bg: white;
}
[data-theme="dark"] {
--color-bg: LightSteelBlue;
}
body {
background-color: var(--color-bg);
}
.button1 {
background-color: var(--color-bg);
color: black;
border: 2px solid #4CAF50;
}
.button1:hover {
background-color: #4CAF50;
color: white;
}
.button2 {
background-color: var(--color-bg);
color: black;
border: 2px solid #008CBA;
}
.button2:hover {
background-color: #008CBA;
color: white;
}
.button3 {
background-color: rgb(173, 124, 77);
color: black;
border: 2px solid #581f04;
}
.button3:hover {
background-color: #b14b11;
color: white;
}
a.node:link {color: #000000; text-decoration:none;}
a.node:visited {color: #000000; text-decoration:none;}
a.node:hover {color: #000000; text-decoration:underline; background:#55db50;}
a.id:link {color: #000000; text-decoration:underline;}
a.id:visited {color: #000000; text-decoration:underline;}
a.id:hover {color: #000000; text-decoration:underline; background:#55db50;}
a.nnl:hover {background:#55db50;}

