#duplicate {
    position: fixed;
    top: 70px;
    right: 0px;
}
#classical {
    position: fixed;
    bottom: 50px;
    right: 0px;
}
#EBM {
    position: fixed;
    bottom: 100px;
    right: 0px;
}
#industrial {
    position: fixed;
    bottom: 150px;
    right: 0px;
}
#meditative {
    position: fixed;
    bottom: 200px;
    right: 0px;
}
