#duplicate {
    position: fixed;
    top: 70px;
    right: 0px;
}
#classical {
    position: fixed;
    bottom: 90px;
    right: 0px;
}
#EBM {
    position: fixed;
    bottom: 140px;
    right: 0px;
}
#industrial {
    position: fixed;
    bottom: 190px;
    right: 0px;
}
#meditative {
    position: fixed;
    bottom: 240px;
    right: 0px;
}
