<tr>
{{ checkbox }}
<td><a class="nnl" href="http://{{ fzserverpq }}/fz/graph/namedlists/_select?id={{ node_id }}" target="_blank">[select]</a></td>
<td><a class="nnl" href="/cgi-bin/fzgraphhtml-cgi.py?id={{ node_id }}&srclist={{ srclist }}{{ list_pos }}">[list]</a></td>
<td>{{ targetdate }}</td>
<td>{{ tdprop }}</td>
<td{{ alertstyle }}>{{ req_hrs }}</td>
<td class="id_cell" onclick="window.open('/cgi-bin/fzgraphhtml-cgi.py?edit={{ node_id }}','_blank');">{{ node_id }}</td>
<td><a class="node" href="/cgi-bin/fzlink.py?id={{ node_id }}">{{ excerpt }}</a></td>
<td><a href="/cgi-bin/fzgraphhtml-cgi.py?topic={{ topic }}">{{ topic }}</a></td>
<td><button type="button" class="tiny_button" onclick="window.open('http://{{ fzserverpq }}/fz/graph/namedlists/{{ srclist }}?remove={{ node_id }}','_self');">remove</button></td>
</tr>
