<tr>
<td>
<h3>Node ID: <b>{{ node-id }}</b> [<a href="/cgi-bin/fzgraphhtml-cgi.py?edit={{ node-id }}">edit</a>] [<a href="http://{{ fzserverpq }}/fz/graph/namedlists/_select?id={{ node-id }}">select</a>] [<a href="/cgi-bin/fzgraphhtml-cgi.py?id={{ node-id }}&srclist=">list</a>] [<a href="/cgi-bin/fzloghtml-cgi.py?startfrom={{ T_context }}&daysinterval=3">temporal context</a>] [<a href="http://localhost/cgi-bin/nodeboard-cgi.py?n={{ node-id }}">dependencies</a>] [<a href="http://localhost/cgi-bin/nodeboard-cgi.py?G=true&n={{ node-id }}&I=true&T=true">dependencies tree</a>] [<a href="http://localhost/cgi-bin/nodeboard-cgi.py?g=true&n={{ node-id }}&I=true&T=true">superiors tree</a>]
<button class="button button1" onclick="window.open('/cgi-bin/fzgraphhtml-cgi.py?edit=new&tosup={{ node-id }}');">mkwsup</button></h3>
</td>
</tr>
<tr>
<td>
<hr>
{{ node-text }}
</td>
</tr>
<tr>
<td>
<hr>
Completion: {{ comp }} (special codes: -1 obsolete, -2 replaced, -3 done differently, -4 no longer possible / did not come to pass)<br>
Required: {{ req_hrs }} hrs ({{ req_mins}} mins)<br>
Valuation: {{ val }}<br>
Targetdate: {{ eff_td }}<br>
TD Property: {{ td_prop }}<br>
Repeats: <b>{{ repeats }}</b> TD Pattern: {{ td_patt }} every: {{ td_every }} span: {{ td_span }}<br>
Topics: {{ topics }}<br>
Boolean Flags: {{ bflags }}<br>
In NNLs: {{ NNLs }}
{{ prereqs-provides }}
</td>
</tr>
<tr>
<td>
Superiors:
<ol>
{{ superiors }}
</ol>
</td>
</tr>
<tr>
<td>
Dependencies:
<ol>
{{ dependencies }}
</ol>
</td>
</tr>
<tr>
<td>
<hr>
[<a href="/cgi-bin/fzlink.py?id={{ node-id }}&alt=hist50">node history</a>]
</td>
</tr>
