<tr>
<td>
<h3>Node ID: <b>{{ node-id }}</b>
<button class="button button2" onclick="window.open('/cgi-bin/fzgraphhtml-cgi.py?edit={{ node-id }}');">edit</button>
<button class="button button2" onclick="window.open('http://{{ fzserverpq }}/fz/graph/namedlists/_select?id={{ node-id }}');">select</button>
<button class="button button3" onclick="window.open('/cgi-bin/fzlog-cgi.py?action=open&node={{ node-id }}');">do</button>
<button class="button button1" onclick="window.open('/cgi-bin/fzgraphhtml-cgi.py?id={{ node-id }}&srclist=');">list</button>
<button class="button button1" onclick="window.open('/cgi-bin/fzloghtml-cgi.py?startfrom={{ T_context }}&daysinterval=3');">temporal context</button>
<button class="button button1" onclick="window.open('/cgi-bin/nodeboard-cgi.py?n={{ node-id }}');">dependencies</button>
<button class="button button1" onclick="window.open('/cgi-bin/nodemetrics.py?node={{ node-id }}');">metrics</button>
<button class="button button1" onclick="window.open('/cgi-bin/nodeboard-cgi.py?G=true&n={{ node-id }}&I=true&T=true');">dependencies tree</button>
<button class="button button1" onclick="window.open('/cgi-bin/nodeboard-cgi.py?g=true&n={{ node-id }}&I=true&T=true');">superiors tree</button>
<button class="button button2" onclick="window.open('/cgi-bin/fzgraphhtml-cgi.py?edit=new&tosup={{ node-id }}');">mkwsup</button>
<button class="button button2" onclick="window.open('http://{{ fzserverpq }}/fz/graph/namedlists/superiors?add={{ node-id }}&unique=true');">2sup</button>
<button class="button button2" onclick="copyInputValueToClipboard('node_id');">copy ID</button>
<input id="node_id" type="hidden" value="{{ node-id }}">
<script type="text/javascript" src="/copyinputvalue.js"></script>
</h3>
</td>
</tr>
<tr>
<td>
<hr>
{{ node-text }}
</td>
</tr>
<tr>
<td>
<hr>

<table style="border: 2px solid; border-radius:5px;"><tbody>
<tr><td>Completion:</td><td>{{ comp }}</td><td colspan="3">(special codes: -1 obsolete, -2 replaced, -3 done differently, -4 no longer possible / did not come to pass)</td></tr>
<tr><td>Required:</td><td>{{ req_hrs }} hrs</td><td>({{ req_mins}} mins)</td><td></td><td></td></tr>
<tr><td>Valuation:</td><td>{{ val }}</td><td></td><td></td><td></td></tr>
<tr><td>Targetdate:</td><td>{{ eff_td }}</td><td>{{ hrs2td }}</td><td></td><td></td></tr>
<tr><td><span class="tooltip">TD Property<span class="tooltiptext"><div style="width:1000px;">
<p><b>Unspecified</b>: The list of UTD Nodes should be a simple order of priority. Ideally, automatic rescheduling of UTD Nodes should take into account the dependency structure. Even more ideally, automatic rescheduling of UTD Nodes should take into account categories (such as work and self-work) and, while testing that method, a selection of days to dedicate to one category or another in a given week.</p>
<p><b>Inherit</b>: ITD Nodes are those that are requirements for their superior Node(s) to be accomplished and where scheduling can be determined completely by the dependency hierarchy.</p>
<p><b>Variable</b>: The list of active VTD Nodes should be fairly small. It is meant for Nodes where there is a clear reason to have a specific intended due date, even though it is under my control. And it is difficult to set those far in advance, so they should be mainly about near-term objectives and Milestones. Additionally, having too many VTD Nodes messes with the to-do-list-like automatic rescheduling of UTD Nodes and is unrealistic.</p>
<p><b>Fixed</b>: FTD Nodes should be about things where the due date is to a large degree outside of my control and that are largely non-optional.</p>
<p><b>Exact</b>: ETD Nodes should be about things that are scheduled to take place at a specific time.</p>
</div></span></span>:</td><td>{{ td_prop }}</td><td></td><td></td><td></td></tr>
<tr><td>Repeats:</td><td><b>{{ repeats }}</b></td><td>TD Pattern: {{ td_patt }}</td><td>every: {{ td_every }}</td><td>span: {{ td_span }}</td></tr>
<tr><td>Topics:</td><td>{{ topics }}</td><td></td><td></td><td></td></tr>
<tr><td>Boolean Flags:</td><td>{{ bflags }}</td><td>[<a href="/cgi-bin/fzgraphhtml-cgi.py?id={{ node-id }}&btf=on" target="_blank">inferred</a>]</td><td></td><td></td></tr>
<tr><td>In NNLs:</td><td>{{ NNLs }}</td><td></td><td></td><td></td></tr>
<tr><td colspan="5">{{ prereqs-provides }}</td></tr>
</tbody></table>

</td>
</tr>
<tr>
<td>
Superiors:
<ol>
{{ superiors }}
</ol>
</td>
</tr>
<tr>
<td>
Dependencies:
<ol>
{{ dependencies }}
</ol>
</td>
</tr>
<tr>
<td>
<hr>
<button class="button button1" onclick="location.href='/cgi-bin/fzlink.py?id={{ node-id }}&alt=hist50#END';">node history</button>
</td>
</tr>
