<html>
<head>
<link rel="icon" href="/favicon-nodes-32x32.png">
<link rel="stylesheet" href="/fz.css">
<link rel="stylesheet" href="/fz-cards.css">
<link rel="stylesheet" href="/bluetable.css">
<link rel="stylesheet" href="/fzuistate.css">
<link rel="stylesheet" href="/clock.css">
<title>Formalizer: Incomplete Nodes by Effective Target Date</title>
</head>
<body>
<button id="clock" class="button button2">_____</button>

<h2>Formalizer: Incomplete Nodes by Effective Target Date</h2>

<p>

<form action="/cgi-bin/fzupdate-cgi.py" method="GET">
<input type="submit" value="Update Schedule">
<input type="radio" name="update" value="repeating"> repeating
<input type="radio" name="update" value="variable"> variable
<input type="radio" name="update" value="both" checked> both |
verbose <input type="checkbox" name="verbose"> |
show maps <input type="checkbox" name="showmaps"> |
dry-run <input type="checkbox" name="dryrun"> |
no EOD <input type="checkbox" name="noEOD"> |
Emulate time: <input type="number" name="T_emulate" size=15> |
Full update <input type="checkbox" name="full_update" checked> |
Up to T_max: <input type="number" name="T_max" size=15> |
Days to map: <input type="number" name="map_days" size=8> (default: see config or 14)
[See <a href="/cgi-bin/fzupdate-cgi.py?help=true">fzupdate-cgi.py Help info</a>.] |
Overhead multiplier: <input type="text" name="ovmultiplier"> (default: 2.0, see config) |
Category days: <input type="text" name="btf_days" value="{{ btf_days }}" size=40>
</form>

<form action="/cgi-bin/fzgraphhtml-cgi.py" method="GET">
<input type="submit" value="Show">
<input type="number" name="num_elements" value="{{ num_to_show }}" style="width: 7em"> or <input type="checkbox" name="all" {{ all_checked }}> unlimited Nodes |
within interval from today to <input type="number" name="max_td" value="{{ t_max }}" style="width: 12em"> or <input type="number" name="num_days" value="{{ num_days }}" style="width: 7em"> days |
<input type="checkbox" name="norepeats"> no repeats
</form>

Showing <code>{{ actual_num_shown }}</code> Nodes in <code>{{ days_shown }}</code> days. Enter date-time stamps in <code>YYYYmmdd[HHMM]</code> format (time optional).

</p>

<table class="blueTable">
<tbody>
