#darkmode {
    position: fixed;
    bottom: 0px;
    right: 0px;
}
#logentry {
    position: fixed;
    bottom: 0px;
    right: 130px;
}
#logtime {
    position: fixed;
    bottom: 0px;
    right: 275px;
}