/* Horizontal Bar Container */
#bottombar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    
    position: fixed;
    bottom: 0;
    /* Move it left so it doesn't sit under the toggle button */
    right: 45px;             
    
    pointer-events: none;
    z-index: 1000;
}

.bottombar_button {
    pointer-events: auto; /* Re-enable clicking */
    margin-left: 2px;
    cursor: pointer;
    white-space: nowrap;
    position: static; /* Overrides any previous 'fixed' positioning */
}

.bottombar_hoverdiv {
    display:none;
    position:absolute;
    z-index:1001;
    bottom:85px;
    width:250px;
    height:300px;
    background-color:rgba(0,0,0,0.4);
    justify-content:center;
    align-items:center;
}

.bottombar_carddiv {
    background-color:var(--w3-lightgrey); /* #fefefe; */
    color:black;
    padding: 20px;
    border: 1px solid #888;
    width: 100%;height: 100%;
    border-radius: 10px;
    overflow: clip;
}

/*.bottombar_closediv {
    color:#aaa;float:right;font-size:28px;font-weight:bold;cursor:pointer;
}*/

/* Vertical Bar Container */
#rightbar {
    display: flex;
    flex-direction: column;   /* Stacks buttons vertically */
    align-items: flex-end;    /* Aligns buttons to the right edge */
    
    position: fixed;
    right: 0;
    /* Move it up so it starts above the toggle button. 
       Adjust 'bottom' based on the height of your toggle button. */
    bottom: 42px;             
    
    pointer-events: none;
    z-index: 1000;
}

#rightbar > button {
    pointer-events: auto;
    margin-bottom: 2px;       /* Spacing between vertical buttons */
    cursor: pointer;
    white-space: nowrap;
}

#timezone_input {
    display:none;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:2000;
    background:rgba(30,30,30,0.5)
}
#tz_inlay {
    position:absolute;
    top:45%;
    left:45%;
    z-index:2001;
    background:#fff
}
#tz_close {
    color:red;
    display:inline-block;
    cursor:pointer;
}
#tzhours {
    display:inline-block;
}
