#darkmode {
    position: fixed;
    bottom: 0px;
    right: 0px;
}
#addnode {
    position: fixed;
    bottom: 0px;
    right: 123px;
}
#logentry {
    position: fixed;
    bottom: 0px;
    right: 233px;
}
#behtools {
    position: fixed;
    bottom: 0px;
    right: 374px;
}
#logtime {
    position: fixed;
    bottom: 0px;
    right: 518px;
}
