<tr id="{{ chunk_id }}" class="chktop"><td>
<p>[<a href="/cgi-bin/fzlog-cgi.py?action=modify&id={{ chunk_id }}" target="_blank">{{ t_chunkopen }}</a>]:[{{ t_chunkclose }}]({{ t_diff }})[<b><a class="nnl docpopupfunc" href="{{ node_link }}" target="_blank">{{ node_id }}</a></b>]<button class="tiny_button tiny_wider" onclick="window.open('/cgi-bin/fzgraphhtml-cgi.py?edit={{ node_id }}','_blank');"><b>edit node</b></button>{{ insert-entry }}{{ insert-chunk }}{{ node_info }}:</p>
</td></tr>
<tr><td>
{{ entries }}
<br>
</td></tr>
