<html>
<head>
<link rel="icon" href="/favicon-logentry-32x32.png">
<title>
Log Review
</title>
<link rel="stylesheet" href="/fz.css">
<link rel="stylesheet" href="/fzuistate.css">
<style>
table tr.review td {
border: 1px solid;
background-color: var(--color-bg);
}
table tr.review:hover td {
border: 1px solid;
background-color: var(--tr-hover);
}
</style>
</head>
<body>
<script type="text/javascript" src="/fzuistate.js"></script>

<h1>
Log Review
</h1>

<form action="/cgi-bin/dayreview-cgi.py" method="post">

{{ top-info }}

<table>
<tbody>

{{ table-entries }}

</tbody>
<hr>
<a name="END">&nbsp;</a>
</table>

<input type="submit" value="Submit" />
</form>

<hr>

<p>[<a href="/index.html">fz: Top</a>]</p>


</body>
</html>
