<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8" />
<link rel="icon" href="/favicon-32x32.png">
<link rel="stylesheet" href="/fz.css">
<link rel="stylesheet" href="/fzuistate.css">
<link rel="stylesheet" href="/clock.css">
<title>fz: LateWiz - Prepare Morning Exercise</title>
</head>
<body>
<h1>fz: LateWiz - Prepare Morning Exercise</h1>

<button id="clock" class="button button2">_____</button>

<hr>

<section>
    <table><tbody><tr>
        <td>Civil Twilight: </td><td>Sunrise: </td><td>Morning Temp: </td><td>Wind: </td>
    </tr></tbody></table>
</section>

<hr>

<table><tbody><tr>
<td>
<section>
    <h2>Exercise plan</h2>
    <p><input type="checkbox"> Prepare the routine to practice.</p>
    <p><input type="checkbox"> Music picked.</p>
</section>

<section>
    <h2>Go readiness</h2>
    <p><input type="checkbox"> Phone, phone carrier and earbuds ready.</p>
    <p><input type="checkbox"> Exercise clothing ready.</p>
</section>

</td>

<!--

<td>

<section>
    <h2>Counterproductive behavior</h2>
    <p><input type="checkbox"> ???</p>
</section>

</td>

-->

</tr></tbody></table>

<hr>

<p>[<a href="/index.html">fz: Top</a>]</p>

<script type="module" src="/fzuistate.js"></script>
<script type="text/javascript" src="/clock.js"></script>
<script>
    var clock = new floatClock('clock');
</script>
</body>

</html>
