<HTML>
<HEAD><TITLE>Task Log ({{ yyyymmdd }})</TITLE>
</HEAD>
<BODY BGCOLOR="#000000" TEXT="#FFDF00" LINK="#AFAFFF" VLINK="#7F7FFF">
<H1><FONT COLOR="#00FF00">Task Log ({{ yyyymmdd }})</FONT></H1>

<TABLE WIDTH="100%" CELLPADDING=3 BGCOLOR="#007F00"><TR><TD WIDTH="30%" ALIGN=CENTER>{{ prevsection }}<TD WIDTH="40%" BGCOLOR="#005F00">&nbsp;<TD WIDTH="30%" ALIGN=CENTER>{{ nextsection }}</TABLE>

<P>
<LI><A HREF="../lists.html#AL">Project Active Lists</A>
<LI><A HREF="../lists.html#DIL">Topical Detailed Items Lists</A>
<LI><A HREF="detailed-items-by-ID.html">Detailed Items by ID</A>
<LI><A HREF="../work-log.html">Work Log</A>
<P>
<HR>
<P>
<!-- section Begin --><TABLE WIDTH="100%" CELLPADDING=3 BGCOLOR="#3F3F3F">

{{ chunks }}

<!-- section End --></TABLE>

<P>
<HR>
<A NAME="ENDOFSECTION">~</A>/doc/<A HREF="../maincont.html">html</A>/<A HREF="../lists.html">lists</A>/task-log.{{ yyyymmdd }}.html

</BODY>
