<div class="Node1 {{ nodebg-color }}">

  <div class="w3-card-4 {{ nodebg-color }}">
    <!-- <img src="img_avatar.png" alt="Avatar" style="width:100%"> -->
    <div class="container {{ node-color }}">
      {{ node-prereqs }}
      <button class="tiny_button tiny_green" onclick="window.open('http://{{ fzserverpq }}/fz/graph/namedlists/superiors?add={{ node-id }}&unique=true');">2sup</button>
      <button class="tiny_button" onclick="window.open('http://{{ fzserverpq }}/fz/graph/namedlists/dependencies?add={{ node-id }}&unique=true');">2dep</button>
      <button class="tiny_button tiny_green" onclick="window.open('/cgi-bin/fzgraphhtml-cgi.py?edit=new&tosup={{ node-id }}');">mkwsup</button>
      <button class="tiny_button" onclick="window.open('/cgi-bin/fzgraphhtml-cgi.py?edit=new&todep={{ node-id }}');">mkwdep</button>
      {{ node-hrsapplied }}
      <p {{ nodelink-bg-color }}><a href="/cgi-bin/fzlink.py?id={{ node-id-history }}">Progress: {{ node-progress }}</a>&#37;{{ node-targetdate }} (<a href="/cgi-bin/nodeboard-cgi.py?n={{ node-deps }}{{ filter-substr }}">DEP</a>)</p>
      <p class="w3-medium">{{ node-text }}</p>
      <p><b><a href="/cgi-bin/fzlink.py?id={{ node-id-history }}">{{ node-id }}</a></b></p>
    </div>
  </div>


</div>
