<div class="w3-card-4" style="top:{{ vert-pos  }}vh;height:{{ node-height }}vh;background-color:{{ node-color }}">
  <div class="container">
    <p class="w3-small" style="margin-top:0;">{{ node-text }}</p>
    <p><b><a href="/cgi-bin/fzlink.py?id={{ node-id }}">{{ node-id }}</a></b> {{ start-time }} {{ minutes }} [<a class="nnl" href="http://{{ fzserverpq }}/fz/graph/namedlists/_select?id={{ node-id }}">select</a>] [<a class="nnl" href="/cgi-bin/fzlog-cgi.py?action=open&node={{ node-id }}" target="_blank">do</a>]</p>
  </div>
</div>
